* text=auto

.editorconfig  export-ignore
.gitattributes export-ignore
.gitignore     export-ignore
.jscsrc        export-ignore
.jshintrc      export-ignore
.npmignore     export-ignore
.travis.yaml   export-ignore
gulpfile.js    export-ignore
gulp/          export-ignore
package.json   export-ignore
