<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="<%= project.name %> PHP_CodeSniffer Rule Set">
    <description><%= project.name %> PHP_CodeSniffer Rule Set</description>

    <!-- Import PSR2 entire rule set -->
    <rule ref="PSR2"/>

    <!-- exclude files/directories -->
    <exclude-pattern>./<%= dirs.dist %>/*</exclude-pattern>
</ruleset>
